<% provide :title, t("user.update-image") %>
<%= provide :button_text, t("action.update") %>
<h1><%= t "user.update-image" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
